extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner 
    .col-12 
      h1= location.name 
  .row 
    .col-12.col-lg-9
      .row 
        .col-12.col-md-6 
          p.rating 
            +outputRating(location.rating)
          p= location.address 
          .card.card-primary 
            .card-block 
              h2.card-title Opening hours
              each openingTime in location.openingTimes
                p.card-text #{openingTime.days} : #{openingTime.time}
              
          .card.card-primary  
            .card-block 
              h2.card-title Facilities 
              each facility in location.facilities
                span.badge.badge-warning 
                  i.fa.fa-check 
                  | &nbsp;#{facility}
                | &nbsp; 
              
        .col-12.col-md-6.location-map  
          .card.card-primary  
            .card-block 
              h2.card-title Location map 
              iframe#mapcanvas(width='100%' height='100%' src='https://maps.google.com/maps?q=Bulawayo,%20Zimbabwe&t=&z=14&ie=UTF8&iwloc=&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
      
                .zxos8_gm
                  a(rel='bookmark' href='https://www.codeguesser.co.uk/boden.co.uk') Boden for mummies
                div(style='overflow:hidden;')
                  #gmap_canvas(style='height:100%;width:100%;')
        
                div
                  small
                    | Powered by 
                    a(href='https://www.embedgooglemap.co.uk') Embed Google Map
      .row 
        .col-12  
          .card.card-primary.review-card  
            .card-block  
              a.btn.btn-primary.float-right(href='/location/review/new') Add review  
              h2.card-title Customer reviews 
              each review in location.reviews
                .row.review  
                  .col-12.no-gutters.review-header 
                    span.rating  
                      +outputRating(review.rating) 
                    span.review= "Author " + review.author 
                    small.review= "Timestamp " + review.timestamp
                  .col-12  
                    p= review.content
  
    .col-12.col-lg-3  
      p.lead 
        | Starcups is on Loc8r because it has accessible wifi space to sit down with your laptop and get some work.
      p 
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.